body {
    font-size: 16px;
    color: #000;
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #9a9a9a;
    border-radius: 0;
    border: 1px solid #000000;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin: 0 -15px;
    background-color: white;
}

#nav-list a {
    color: #000000;
    text-align: center;
}

#nav-list a:hover {
    background: #e7e7e7;
}
#nav-list a span {
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000;
}

.line {
    margin: 0;
    border-top: 1px solid #000;
}

.grey-container {
    background-color: #9a9a9a;
    padding: 1px 15px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 0;
}

h3 {
    margin-top: 5px;
}

@media (max-width: 767px) {
    .grey-container {
        margin: 0 20px;
    }
}






